@media screen and (max-width: 1080px){
    .toggle-dropdown{
        display: inline-block !important;
    }
    .bottom-nav ul{
        visibility: hidden;
    }
    #logo-anchor{
        position: relative;
        left: 37.5%;
        transform: translateX(-50%);
        margin-left: 0 !important;
    }
    
}


.menu{
    height: 12.5%;
    width: 100%;
    overflow-x : hidden;
    position: absolute;
    z-index: 3;
    top: 0;
    font-family: acherus, serif;
    letter-spacing: 3px;
    font-weight: bold;
}
.top-nav{
    height: 30%;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(100,100,100,.3);
}

.top-nav ul{
    float: right;
    margin-right: 10%;
    height: 100%;
    width: 100%;
}
.top-nav li{
    float: right;   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    list-style: none;
    margin-right: 10px;
}
.top-nav a {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s ease-in-out, border-radius .4s ease-in-out;
}
.top-nav a:hover{
    background-color: white;  
    border-radius: 0 0 30px 30px;
}
.top-nav a:hover > img{
    filter: brightness(1) invert(0);
    height: 80%;
}
.social-media{
    height: 100%;
    width: 100%;
}
.social-media *{
    height: 100%;
}
.social-media img{
    height: 70%;
    filter: brightness(0) invert(1);
    transition : filter .25s ease-in .25s, background-color .4s ease-in-out, border-radius .4s ease-in-out, height .4s ease-in-out;
}
.bottom-nav{
    width: 100%;
    height: 70%;
    background-color: transparent;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.bottom-nav ul{
    display: flex;
    margin-left: 2.5%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 80%;
}
.bottom-nav span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 9.2%;
    width: 10%;
}
.bottom-nav a{
    text-decoration: none;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: calc(.65vw  + 4px);
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    transition: background-color .4s ease-in-out, font-size .4s ease-in-out, border-radius .4s ease-in-out;
    margin-left : calc(.7vw + 14px);
}
.bottom-nav ul li{
    height: 100%;
    width: 17.5%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav a:hover, .dropdown:hover , .dropdown-content a:hover{
    background-color: rgba(100,100,100,.3);
    border-radius: 0 0 20px 20px;
    font-size: calc(.7vw + 4px);
}
#logo{
    height: 100%;
    width: auto; 
}
#logo-anchor{
    width: auto;
    margin-left: 5rem;
}
#logo-anchor:hover{
    background-color: transparent;
    font-size: 0;
    border-radius: 0;
}

.dropdown{
    position: relative;
    display: none;
    height: 100vh;
    width: 75%;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    background-color: rgba(100,100,100,.9);
    transition: left 2s ease-in !important;
}
.dropdown.show{
    display: flex;
    left: 0;    
}

.dropdown a {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding-left: 2.5%;
    padding-right: 0;
    margin-left: 0 !important;
    align-items: center;
    height: 10vh !important;
    font-size : calc(.7vw + 16px) !important;
    border-bottom: 1px solid #fff;
}
.dropdown:hover{
    background-color: rgba(100,100,100,.9) !important;
    border-radius: 0 !important;
}
.dropdown a:hover{
    background-color: rgba(100,100,100,.9) !important;
    border-radius: 0 !important;
}
.toggle-dropdown{
    width: 10vw !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.toggle-dropdown img{
    width: calc(3vw + 7px);
    filter: brightness(0) invert(1);
}
.dropdown-content{
    display: flex;
    flex-direction: column;  
    width: 100%; 
}
.dropdown-close-button-container{
    width: 7.5%;
    height: 10vh;
    display: flex;
    position: absolute;
    right: 2.5%;
    justify-content: center;
    align-items: center;
}
.dropdown-close-button-container img{
    width: 100%;
    transition : filter .4s ease-in-out, height .25s ease-in-out;
    filter: brightness(0) invert(1);
}
.dropdown-close-button-container img:hover{
    filter: none;
}



@media screen and (min-width: 1081px){
    .toggle-dropdown{
        display: none !important;
    }
}