@import "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css";

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.swiper-info{
    position: absolute;
    top : 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.swiper-title{
    font-size : 64px;
    letter-spacing: 8px;
    font-family: acherus, serif;
}
.swiper-subtitle{
    font-size : 32px;
    letter-spacing: 2px;
    font-family: lifesavers, serif;
}

.swiper a{
    margin-top: 25%;
    padding: 10px 12px;
    border-radius : 25px;
    font-family: acherus, serif;
    font-size: 1em;
    letter-spacing: 2px;
    border: none;
    border: 1.5px solid #fff;
    width: 90%;
    text-align : center;
    outline: none;
    background-color: transparent;
    transition: background-color .25s ease-in-out;
    color: #fff;
    text-decoration: none;
    transition :  background-color .25s ease-in-out, color .3s ease-in .15s, font-size .3s ease-in-out .15s;
}
.swiper a:hover{
    background-color: #fff;
    color: #a3a3a3;
    font-size: 1.05em;
}
.swiper a:focus{
    background-color: transparent;
    font-size: 1em;
    color: #fff;

}
.swiper-slide{
    height: 100%;
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: #fff;
}
.swiper-button-prev{
    margin-left: 2rem;
}
.swiper-button-next{
    margin-right: 2rem;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}